.dialogs {
  display: flex;
  justify-content: space-between;
}

.dialogsItems {
  padding: 10px;
}

.active {
  color: gold;
}

.messages {
  padding: 10px;
  width: 80%;
  border: 1px solid white;
  margin: 10px 60px;
  background-color: rgb(237, 238, 238);
  height: 100%;
}
.message {
    border: 1px solid white;
    border-radius: 5px;
    margin: 10px;
    background-color: rgb(214, 218, 218);
    width: 40%;
  }

  .addMessage{
      margin-top: 50px;
  }

.dialog {
  display: flex;
  margin: 10px 0;
}

.dialog img {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}
