.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
}

.body-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.app-wrapper-content {
  width: 80%;
  background-color: cornflowerblue;
  height: 100vh;
}


